* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{background-color: lightgreen;}

header ul {
    padding: auto;
}

#topo {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    background-color: lightblue;
    font-size: 30px;
}

ol a {
    text-decoration: none;
}

nav ol li {
    display: inline;
    margin: 10px;
    padding-bottom: 10px;
    color: aliceblue;
}

nav {
    margin-top: 30px;
}

nav ol li:hover {
    background-color: lightgreen;
    font-size: 20px;
    border-bottom-style: solid;
    border-top-color: black;
    border-radius: 40px;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 2px;
}

#texto2 {
    text-align: center;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: beige;
}

#texto2 ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 40px;
}

#sobre {
    font-size: 20px;
    padding-left: 20px;
}

#sobre h2 {
    padding-right: 80%;
    margin-bottom: 10px;
}

#programa {
    font-size: 20px;
    padding-right: 80%;
}

#palestrantes {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    background-color: lightgoldenrodyellow;
}

#inscricao {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    font-style: unset;
}

#polga {
    margin-left: 40%;
}

footer {
    text-align: center;
    background-color: green;
    font-size: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
}

#info a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#img1 {
    width: 150px;
    height: 150px;
}

article{   display: inline-block;
    width: 45%; /* Define a largura para caberem juntas */}