* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{background-color: lightgreen;}

header ul {
    padding: auto;
}

#topo {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    background-color: greenyellow;
    font-size: 30px;
}

ol a {
    text-decoration: none;
}




nav ol{
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
    font-size:25px ;
}


nav ol li:hover {
    background-color: lightgreen;
    font-size: 20px;
    border-bottom-style: solid;
    border-top-color: black;
    border-radius: 40px;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 2px;
}

#texto2 {
    text-align: center;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: beige;
}

#texto2 ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 40px;
}

#sobre {
    font-size: 20px;
    padding-left: 20px;
}

#sobre h2 {
    padding-right: 80%;
    margin-bottom: 10px;
}

#programa {
    font-size: 20px;
    text-align: center;
}

#palestrantes {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    background-color: lightgoldenrodyellow;
}

#inscricao {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-items:center ;
    font-size: 30px;
}
#polga{
    display: flex;
    align-content: center;
    

}

footer {
    text-align: center;
    background-color: green;
    font-size: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
}

#info a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#img1 {
    width: 150px;
    height: 150px;
}

article {   display: flex;
   justify-items: center;
   align-content: center;
flex-direction: row;
margin-top: 60px;
}

    #programa ul li {
        margin-bottom: 70px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        list-style-type: none;
    }
    #programa h2{
        font-size: 70px;
    }
    #programa ul{
        display: flex;
        flex-direction: row;
       
    }
    #texto3 h3{
display: flex;
justify-content: space-around;
    }
    img{
        width: 300px;
height: 200px;

    }
   header img {
width: 100px;
height: 100px;
   }
   header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   header img{
    display: flex;
    justify-content: start;
    align-items: end;
   }
 form{
    display: flex;
    justify-content: center;
    width: 100%;

 }
#botao{
    width: 100px;
}
button{
    width: 400px;
    height: 80px;
    margin-left: 10px;
    background-color: gray;
    font-size: 20px;
}
input{
    width: 600px;

}
#pol{
    width: 500px;
}
#palestrantes h2{
    font-size: 50px;
}
.grid {
    display: flex;
    flex-direction: row;

}
article img{
    border-radius: 100%;
}
#texto3 p {
    display: flex;
    align-content: end;
}
